*, *:before, *:after{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: grid;
    font-size: 14px;
}

footer{
    display: flex;
    flex-wrap: nowrap;
    padding: 50px;
    color: #fff;
    background-color: rgb(9, 3, 3);
}

.footer > *{
    flex: 1 100%;
}

.left{
    margin-right: -12em
}

h2{
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: darkorange;
    letter-spacing: 3px;
}

.footer ul{
    list-style: none;
    padding-left:0;
}

.footer li{
    line-height: 2em;
}

.footer a {
   text-decoration: none;
}

.right{
    display: flex;
    flex-flow: row wrap;

}

.right > *{
 flex: 50%;
 margin-left: 1.25em;
}

.btn{
    border:none;
    background: darkorange;
    color:#fff;
    padding:10px 30px;
}
.search-box input{
    height: 30px;

}

